<div id='sign-up'>
<form action='/users/new' method='post'>
  <input type='text' name="name" placeholder="Name">
  <input type='text' name="username" placeholder="Username">
  <input type='password' name="password" placeholder="Password">
  <input type='password' name="password_confirmation" placeholder="Password">
  <input type='submit' value='Submit'>
</form>
</div>
<br>
